.main{
  box-sizing: border-box;
  padding: 30px;
}

.header{
  display:flex;
  justify-content: space-between;
  padding-inline:20px;
  align-items: center;
  border: 1px solid black;
}

.nav-bar>ul{
  list-style-type: none;
  display: flex;
}

.nav-bar>ul>li{
  padding: 15px;
}

.foodlogo{
  width:50px;
}

.card{
  width:225px;
  height:450px;
  padding:10px;
  margin:10px;
  border:1px solid black;
}

.card>img{
  width:100%;
  height:40%
}

.restro-list{
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
  gap:10px;
  margin:10px;
}